.caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10%;
}
.middleSection {
  text-align: center;
}
.middleSectionTitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.middleSectionSubTitle {
  font-family: "Times New Roman", Times, serif;
}
.carouselImage {
  width: 100%;
}
.categoryCard {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}
.categoryImage {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.categoryImage:hover {
  /* -webkit-transform: scale(1.3);
  transform: scale(1.3); */
}
.categoryTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bestGiftCard {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}
.bestGiftImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 10px solid;
  border-color: #F0C29F !important;
}
.bestGiftTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  padding-top: 10px;
  padding-bottom: 10px;
}
.cardProductName {
  padding-top: 5px;
  padding-bottom: 5px;
}
.cardProductPrice {
  padding-top: 5px;
  padding-bottom: 5px;
}
.img_wrapper {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.img_overlay {
  position: absolute;
  top: 50% !important;
  bottom: 0 !important;
  left: 35% !important;
  right: 0 !important;
  text-align: center;
}
.img_overlay:before {
  content: " ";
  display: flex;
  /* height: 80%; */
}
.img_responsive {
  width: 100%;
  height: 300px;
}
.reviewSection{
  text-align: center;
  background-color: #88A692
}
.reviewSectionTitle{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}